.weather-dashboard {
  padding-top: 2%;
  height: 75%;
}

.day-cards {
  margin-top: 1%;
}

.city {
  height: 10%;
  color: white;
  font-size: x-large;
  padding: 0% 8% 0% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}